<!-- Sección superior -->
<div class="contenedor-pri">
  <!-- Agrega el select con las opciones y vincula la función de selección -->
  <div class="contenedor-opcitions">
    <div>
      <label >Selecciona una consulta:</label>
      <select
        [(ngModel)]="tipoConsultaSeleccionada"
        (change)="seleccionarOpcion(tipoConsultaSeleccionada)"
      >
        <option *ngFor="let opcion of tipoConsulta" [value]="opcion.valor">
          {{ opcion.titulo }}
        </option>
      </select>
    </div>
    <!-- Selector de tipo de filtro con casillas de verificación -->
    <div class="filtro-selector">
      <label>Selecciona el tipo de filtro:</label>
      <div class="checkbox-options">
        <label *ngFor="let opcion of tipoFiltro" class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="opcion.valor"
            (change)="seleccionarOpcionFiltro(opcion)"
            class="checkbox-input"
          />
          {{ opcion.titulo }}
        </label>
      </div>
    </div>
  </div>
  <div class="content-campos">
    <!-- Campos de entrada para el filtro de número de tienda -->
    <div class="filtro-campo" *ngIf="banFiltroNumeroTienda">
      <label for="numeroTienda" class="campo-label">Número de Tienda:</label>
      <input
        type="text"
        id="numeroTienda"
        [(ngModel)]="filtroNumeroTienda"
        class="campo-input"
      />
    </div>

    <!-- Campos de entrada para el filtro de número de producto -->
    <div class="filtro-campo" *ngIf="banFiltroNumeroProducto">
      <label for="numeroProducto" class="campo-label"
        >Número de Producto:</label
      >
      <input
        type="text"
        id="numeroProducto"
        [(ngModel)]="filtroNumeroProducto"
        class="campo-input"
      />
    </div>

    <!-- Campos de entrada para el filtro de rango de fechas -->
    <div class="filtro-campo" *ngIf="banFiltroRangoFecha">
      <label for="fechaInicio" class="campo-label">Fecha de Inicio:</label>
      <input
        type="date"
        id="fechaInicio"
        [(ngModel)]="filtroFechaInicio"
        class="campo-input"
      />
    </div>
    <div class="filtro-campo" *ngIf="banFiltroRangoFecha">
      <label for="fechaFin" class="campo-label">Fecha de Fin:</label>
      <input
        type="date"
        id="fechaFin"
        [(ngModel)]="filtroFechaFin"
        class="campo-input"
      />
    </div>
  </div>

  <p>New Query</p>

  <div class="card-text-area">
    <div class="sql-editor">
      <div class="editor-container">
        <div class="line-numbers">
          <div *ngFor="let line of lineNumbers">{{ line }}</div>
        </div>
        <textarea
          disabled="true"
          class="sql-input"
          [(ngModel)]="textoQuery"
          (input)="updateLineNumbers()"
        ></textarea>
      </div>
    </div>

    <!-- Agregamos la clase text-center para centrar horizontalmente -->
    <button class="btn-principal" (click)="enviarQuery()" tabindex="0">
      Enviar
    </button>
  </div>

  <!-- Modal para mostrar cuando el textarea está vacío o hay un error en la petición -->
  <div class="modal" [ngClass]="{ visible: textareaVacio || errorEnPeticion }">
    <div class="modal-content">
      <p *ngIf="textareaVacio">
        El textarea está vacío. Por favor, ingresa una consulta válida.
      </p>
      <p *ngIf="errorEnPeticion">{{ msgError }}.</p>
      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
  <!-- Agrega un div para mostrar la animación de carga -->
  <div *ngIf="cargando" class="loading">
    <i class="fas fa-spinner fa-spin"></i> Cargando...
  </div>

  <!-- Sección inferior -->
  <div class="tabla-result">
    <button
      *ngIf="resultado.length > 0"
      class="btn-exportar"
      (click)="exportarExcel()"
    >
      Exportar a Excel
    </button>

    <div class="tabla-container">
      <table class="mi-tabla">
        <thead>
          <tr>
            <!-- Verifica si resultado tiene elementos -->
            <ng-container *ngIf="resultado.length > 0">
              <!-- Utiliza el primer elemento (índice 0) para obtener los nombres de las columnas -->
              <th *ngFor="let columna of obtenerNombresColumnas(resultado[0])">
                {{ columna }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <!-- Utiliza la directiva *ngFor de ngx-pagination para iterar sobre los elementos de la página actual -->
          <tr
            *ngFor="
              let resultadoItem of resultado
                | paginate
                  : {
                      itemsPerPage: elementosPorPagina,
                      currentPage: paginaActual,
                      id: 'miTabla'
                    }
            "
          >
            <!-- Itera sobre las propiedades de cada objeto para mostrar los valores -->
            <td *ngFor="let columna of obtenerNombresColumnas(resultadoItem)">
              {{ resultadoItem[columna] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginador">
      <!-- Agrega el paginador aquí -->
      <pagination-controls
        (pageChange)="paginaActual = $event"
        id="miTabla"
      ></pagination-controls>
    </div>
  </div>
</div>
