.text-area {
  width: 500px;
  height: 300px;
}
.btn-principal {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado del botón */
  border: none; /* Borde sin estilo */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.btn-principal:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
.modal {
  display: none;
  /* Otras propiedades de estilo para el modal, como posicionamiento, fondo oscuro, etc. */
}

.visible {
  display: block;
}
.card-text-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}
/* Agrega estilos CSS para el botón de exportar */
.btn-exportar {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #007bff; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado del botón */
  border: none; /* Borde sin estilo */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.btn-exportar:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
/* Estilos para el contenedor del editor SQL */

.sql-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.editor-container {
  display: flex;
  width: 100%;
  height: 500px;
  border-radius: 4px;
  border: 1px solid #969696f5;
}

.line-numbers {
  font-family: monospace;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sql-input {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  padding: 0 10px;
  height: 100%;
}
.contenedor-pri{
  width: 100%;
  margin-top: 70px;
}
/* Agrega estos estilos en tu archivo de estilos CSS o en línea según tu preferencia */

/* Establece un ancho máximo para el contenedor de la tabla */
.tabla-container {
  max-width:95%; /* Puedes ajustar el valor según tus necesidades */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal cuando sea necesario */
}

/* Establece un ancho mínimo para la tabla */
.mi-tabla {
  min-width: 100%; /* Asegura que la tabla tenga un ancho mínimo igual al contenedor */
}

.mi-tabla th, .mi-tabla td {
  border: 1px solid #ddd; /* Agrega un borde de 1 píxel y color gris claro a las celdas */
  padding: 6px; /* Espacio interno alrededor del contenido de las celdas */
  text-align: left; /* Alinea el texto a la izquierda en las celdas */
}

.mi-tabla th {
  background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
}
.tabla-result {
  width: 100%;
  height: 100%;
}
.paginador{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}
/* Estilo para el select */
select {
  margin: 10px;
  padding: 10px; /* Espaciado interno para hacerlo más visible */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  width: 100%; /* Ancho completo del contenedor */
  max-width: 300px; /* Establece un ancho máximo si lo deseas */
  background-color: #fff; /* Color de fondo */
}

/* Estilo para las opciones */
option {
  font-size: 14px; /* Tamaño de fuente para las opciones */
}
/* Estilos para el selector de tipo de filtro */
.filtro-selector {
  margin-bottom: 20px;
  font-size: 16px;
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.checkbox-input {
  margin-right: 5px;
}

/* Estilos para los campos de entrada del filtro */
.filtro-campo {
  margin: 10px;
  margin-right: 50px;
}

.campo-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.campo-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.campo-input:focus {
  outline: none;
  border-color: #007bff;
}
.content-campos{
  display: flex;
  width: 100%;
 
}
.contenedor-opcitions{
  display: flex;
  gap: 50px;
}