<div class="grid justify-content-between">
  <div class="col-12 md:col-12 lg:col-6">
    <div class="col-12">
      <span class="font-bold form-text">Elige un reporte</span>
    </div>
    <p-dropdown
      placeholder="Elige un reporte"
      [editable]="true"
      [(ngModel)]="tipoConsultaSeleccionada"
      (onChange)="seleccionarOpcion($event.value)"
      [options]="tipoConsulta"
    >
    </p-dropdown>
  </div>
  <div
    class="col-12 md:col-12 lg:col-3 pt-6 flex justify-content-center md:justify-content-center lg:justify-content-end"
  >
    <p-button
      type="submit"
      label="Enviar Solicitud"
      styleClass="p-button-raised"
      (click)="enviarSolicitudConsulta()"
      [disabled]="!queryForm.valid"
    ></p-button>
  </div>
</div>
<form [formGroup]="queryForm" *ngIf="withParameters">
  <p-blockUI [blocked]="blockedDocument"></p-blockUI>
  <p-toast></p-toast>
  <div class="py-2">
    <div class="flex w-full py-2 px-3 gap-2">
      <label class="font-bold align-self-center">Parámetros de envió</label>
      <p-checkbox
        [binary]="true"
        (onChange)="chkAtrrchanged($event, 0)"
      ></p-checkbox>
    </div>
    <div
      class="surface-card py-2 px-3 border-round shadow-2"
      [ngClass]="{ disabledDiv: isDisabledDivAtrr }"
    >
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3" *ngIf="noProducto">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Número Producto: </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input
                type="text"
                onlyNumbers
                pInputText
                placeholder="Numero Producto"
                formControlName="numeroProducto"
              />
              <span
                class="form-text text-red-600"
                *ngIf="campoNoValido('numeroProducto')"
              >
                {{ listaErroresMensajes("numeroProducto") }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3" *ngIf="noTienda">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Número Tienda: </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <input
                type="text"
                pInputText
                placeholder="Numero Tienda"
                formControlName="numeroTienda"
                onlyNumbers
              />
              <span
                class="form-text text-red-600"
                *ngIf="campoNoValido('numeroTienda')"
              >
                {{ listaErroresMensajes("numeroTienda") }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3" *ngIf="rangoFecha">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Fecha Inicio: </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-calendar
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                formControlName="fechaInicio"
              ></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3" *ngIf="rangoFecha">
          <div class="grid">
            <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <label class="font-bold">Fecha Fin: </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p-calendar
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                formControlName="fechaFin"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="card-text-area" *ngIf="activeTextAreaQuery">
  <div class="sql-editor">
    <div class="editor-container">
      <div class="line-numbers">
        <div *ngFor="let line of lineNumbers">{{ line }}</div>
      </div>
      <textarea
        disabled="true"
        [rows]="lineNumbers.length"
        cols="30"
        class="textarea"
        pInputTextarea
        [(ngModel)]="textQuery"
        (input)="updateLineNumbers()"
      ></textarea>
    </div>
  </div>
</div>

<div class="tabla-result" *ngIf="activeResponseTable">
  <div
    class="col-12 md:col-12 lg:col-3 pt-5 flex justify-content-center md:justify-content-start lg:justify-content-start"
  >
    <p-button
      label="Exportar a Excel"
      styleClass="p-button-raised"
      *ngIf="resultado.length > 0"
      class="btn-exportar"
      (click)="exportarExcel()"
    ></p-button>
  </div>
  <div class="tabla-container" *ngIf="activeResponseTable">
    <table class="mi-tabla">
      <thead>
        <tr>
          <ng-container *ngIf="resultado.length > 0">
            <th *ngFor="let columna of obtenerNombresColumnas(resultado[0])">
              {{ columna }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let resultadoItem of resultado
              | paginate
                : {
                    itemsPerPage: elementosPorPagina,
                    currentPage: paginaActual,
                    id: 'miTabla'
                  }
          "
        >
          <td *ngFor="let columna of obtenerNombresColumnas(resultadoItem)">
            {{ resultadoItem[columna] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="resultado.length === 0">No hay resultados para esta consulta</div>
  <div class="paginador" *ngIf="activeResponseTable">
    <pagination-controls
      (pageChange)="paginaActual = $event"
      id="miTabla"
    ></pagination-controls>
  </div>
</div>
